#demo3
    .minibox
        background-color: #9d5f2f
        color: #ffff
        width: 200px
        height: 200px
        align-items: center 
        border-radius: 50%
        font-size: 30px
        font-weight: 700 
        transition: 3s
        &:hover
            border-radius: 10px 

    @media screen and ( max-width: 800px )
        .minibox
            width: 60px 
            height: 60px
            background-color: #95a03f 
        .box
            flex-direction: column
    